<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstoneprojectv13">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneProjectv13">
        <activity android:name=".CancelledActivity"></activity>
        <activity android:name=".CompletedActivity" />
        <activity android:name=".ReceivingActivity" />
        <activity android:name=".ShippingActivity" />
        <activity
            android:name=".PendingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".PaymentActivity" />
        <activity
            android:name=".CheckOutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProductsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ProductPage" />
        <activity
            android:name=".PasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.PasswordActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".PhoneAuthActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Home" />
    </application>

</manifest>